/* ==============================================================================
# フォント
============================================================================== */
$font-family-base:
  "Noto Sans JP",
  myyugothicm,
  yugothic,
  -apple-system,
  blinkmacsystemfont,
  "Hiragino kaku Gothic ProN",
  meiryo,
  verdana,
  arial,
  helvetica,
  sans-serif;
$font-weight-base: 700;
$font-size-base: 1.6rem;

/* ==============================================================================
# 色
============================================================================== */
/* 文字色
------------------------------------------------------------------------- */
$color-base: #121212;
$color-main: #2498b3;
$color-selling-points: #fff;
$color-base-hover: #131d34;

/* 背景色
------------------------------------------------------------------------- */
$bg-color-base: #fff;
$bg-color-main: #2498b3;
$bg-color-selling-points: #000;
$bg-color-main-hover: #d4f1f8;
$bg-color-main-sub-menu: #e9f8fb;

/* ==============================================================================
# インナー幅
============================================================================== */
$layout-width-inner: 1078;

/* ==============================================================================
# 階層
============================================================================== */
$layer: (
  modal: 100,
  // モーダル
  drawer: 40,
  // ドロワー
  floating: 30,
  // フローティングアイテム
  header: 20,
  // ヘッダー
  footer: 10,
  // フッター
  default: 1,
);
$parallax-layer: (
  base: 10,
  layer1: 30,
  layer2: 20,
);

/* ==============================================================================
# ヘッダーの高さ
============================================================================== */
$header-height-pc: 70px;
$header-height-sp: 60px;
